<h1>All Authors</h1>
<div class="row justify-content-center">
  <div class="col-lg-6">
    <%= form_for_filterrific @filterrific do |f| %>
      <%= f.label :by_name %>
      <%= f.text_field :by_name, class: 'form-control' %>
      <br>
      <%= f.submit 'Filter', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.email %></td>
        <td>
          <% if current_auther == author %>
            <%= link_to 'Show Details', author_path(author), class: 'btn btn-info' %>
        
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
