<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Your Bookstore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if auther_signed_in? %>
        <li class="nav-item">
          <%= link_to "Profile", edit_auther_registration_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Books", books_path, class: "nav-link text-white" %>

        </li>
        <li class="nav-item">
          <%= link_to "Authors", authors_path, class: "nav-link text-white" %>
          
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_auther_session_path, method: :delete, class: "nav-link text-white" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_auther_session_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_auther_registration_path, class: "nav-link text-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>


