    <% if auther_signed_in? %>
<div >
<div class="text-center">
  <h1>Editing Book</h1>
  <br/>

  <p><strong>Book's Name:</strong> <%= @book.name %></p>
  <p><strong>Release Date:</strong> <%= @book.release_date %></p>
  <p><strong>Author:</strong> <%= @book.auther.name %></p>
  </div>

  <%= render 'form', book: @book %>

  <br/>
  <div class="text-center" >
  <%= link_to 'Show', @book, class: "btn btn-secondary" %>

  <%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure you want to delete this book?' }, class: "btn btn-danger" %>

  <%= link_to 'Back', books_path, class: "btn btn-dark" %>
  </div>
</div>


<%else%>
<script>
    window.location.href = '<%= new_auther_session_path %>';
</script>
<%end%>


<footer class="bg-dark text-white text-center py-3 fixed-bottom">
  <p>&copy; 2023 Your Bookstore</p>
</footer>


 <% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %> 

<% if flash[:release_date_error] %>
  <div class="alert alert-danger">
    <%= flash[:release_date_error] %>
  </div>
<% end %>