<% if auther_signed_in? %>
<br>
<br>

  <div class="text-center">
<a href="/books.csv" class="btn btn-primary" download>Download AS CSV</a>
</div>
<br>
<br>


  <%= form_for_filterrific @filterrific do |f| %>
    <%= f.label :by_name %>
    <%= f.text_field :by_name %>

    <%= f.label :by_auther_name %>
    <%= f.text_field :by_auther_name %>

    <%= f.label :search_query, "Release Date" %>
<%= f.text_field :search_query %>

    <%= f.submit 'Filter', class: 'btn btn-primary' %>
  <% end %>
  <br>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Release Date</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.name, book %></td>
          <td><%= Date.parse(book.release_date.to_s).strftime("%Y-%m-%d") if book.release_date.present? %></td>
          <td><%= book.auther.name %></td>
          <td>
            <% if current_auther == book.auther %>
              <%= link_to 'Show', book, class: "btn btn-info btn-sm" %>
              <%= link_to 'Edit', edit_book_path(book), class: "btn btn-warning btn-sm" %>
              <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @books %> 
    <%= link_to 'New Book', new_book_path, class: "btn btn-secondary" %>
    <%= link_to "Show All Books", books_path, class: 'btn btn-primary' %>


  </div>
<% else %>
  <script>
    window.location.href = '<%= new_auther_session_path %>';
  </script>
<% end %>
