<div class="jumbotron">
  <h1 class="display-4">
    <%= @book.name %>
  </h1>
  <p class="lead">
    Release Date: <%= @book.release_date.strftime("%Y-%m-%d") %>
  </p>
  <p class="lead">
    Author: <%= @book.auther.name %>
  </p>

  <br>
  <%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<br>
  <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-secondary" %>

<br>

  <%= link_to 'Back', books_path, class: "btn btn-dark" %>
</div>